
 .wrapper {
        background-color: rgba(0, 0, 0, 0.6);

        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
    }

    .main_wrapper {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .single_wrapper {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 1039px;
        padding: 64px 56px 64px;
        background-color: #fff;
        border-radius: 16px;
    }

    .close_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        cursor: pointer;
    }

    .left_part {
        width: 330px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 24px;
    }

    .small_photo {
        cursor: pointer;
    }

    .active {
        border: 1px solid #2a81dd;
        box-sizing: border-box;
        border-radius: 8px;
        cursor: pointer;
    }

    .main_title {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        color: #1c1819;
        margin: 0;
    }

    .balance_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    .balance_cost {
        margin: 8px 0;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #1c1819;
    }

    .main_btn {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        width: 134px;
        height: 36px;
        color: white;
        border: none;
        cursor: pointer;
        background: #2a81dd;
        box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
        border-radius: 8px;
    }

    .balance_current {
        width: 100%;
        max-width: 196px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0fafd;
        border-radius: 16px;
    }

    .balance_current_info {
        margin-right: 24px;
    }

    .balance_current_text {
        font-size: 14px;
        line-height: 24px;
        color: #888b94;
    }

    .colors-title,
    .size-text {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 24px;
        color: #1c1819;
    }

    .color-main {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }

    .color-item {
        margin-right: 8px;
    }

    .color-item input {
        display: none;
    }

    .color-item label {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #2a81dd;
        border: 1px solid rgba(28, 24, 25, 0.1);
        border-radius: 8px;
        padding: 8px;
    }

    .color-main label::before {
        display: block;
        content: '';
        width: 24px;
        height: 24px;
        background: #00458a;
        border-radius: 4px;
        margin-right: 8px;
    }

    #color-2::before {
        background: #efe8d8;
    }

    #color-3::before {
        background: #d4d4da;
    }

    .color-item input:checked+label {
        background: #d6ecfb;
        color: #1c1819;
        border: none;
    }

    .size_wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }

    .size-item {
        margin-right: 8px;
    }

    .size-item input {
        display: none;
    }

    .size-item label {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #2a81dd;
        border: 1px solid rgba(28, 24, 25, 0.1);
        border-radius: 8px;
        padding: 8px 16px;
    }

    .size-item input:checked+label {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        background: #d6ecfb;    
        color: #1c1819;
        border: none;
    }

    .detail_info {
        margin-bottom: 24px;
    }

    .detail_info_title,
    .detail_info_subtitle {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #1c1819;
        padding-bottom: 4px;
    }