@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import 'vars.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'content.scss';
@import 'card.scss';
@import 'modal.scss';
@import 'menu.scss';
@import 'sidebar.scss';


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
    scroll-behavior: smooth;
}


.section_content_wrapper {
    width: 100%;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 281px auto;
    padding: 0 90px 192px 32px;
}


a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.visual-hidden {
    opacity: 0;
    visibility: hidden;
}

.d-none {
    display: none;
}

.mt-auto {
    margin-top: auto;
}

.show {
    opacity: 1;
    visibility: visible;
}
